<!-- Navigation Bar Start -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Welcome</a></li>
        <li><a href="/roster/index">Roster</a></li>
        <li class="active dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Statistics<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Player Stats</a></li>
            <li><a href="#">Team Stats</a></li>
            <li><a href="#">Team Leaders</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Data Entry</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Direct Query</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Nagivation Bar End -->

<div class="container">
<h1>New Player Entry</h1>
  <%= form_for :player do |player| %>
    Name: <%= player.text_field :name %><br />
    Jersey Number: <%= player.number_field :jersey_number %><br />
    Height: <%= player.number_field :height %><br />
    Weight: <%= player.number_field :weight %><br />
    Throws: <%= player.text_field :throws %><br />
    Bats: <%= player.text_field :bats %><br />
    <%= player.submit %>
  <% end %>
</div>

