<!-- Navigation Bar Start -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Welcome</a></li>
        <li><a href="/roster/index">Roster</a></li>
        <li class="active dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Statistics<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/stats/player_stats">Player Stats</a></li>
            <li><a href="/stats/team_stats">Team Stats</a></li>
            <li><a href="/stats/team_leaders">Team Leaders</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/data_entry/index">Data Entry</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Direct Query</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Nagivation Bar End -->

<!-- Jumbotron Start -->
<div class="container">
  <% @games.each_with_index do |game, index| %>
    <h3>Game #<%= game.id %>, <%= game.away_team %> @ <%= game.home_team %> on <%= game.date %>, <%= game.season %></h3>
    <table class="table">
      <tr>
        <th>&nbsp;</th>
        <th>Runs</th>
        <th>Hits</th>
        <th>Errors</th>
      </tr>
      <tr>
        <th><%= game.away_team %></th>
        <td><%= game.away_runs %></td>
        <td><%= game.away_hits %></td>
        <td><%= game.away_errors %></td>
      </tr>
      <tr>
        <th><%= game.home_team %></th>
        <td><%= game.home_runs %></td>
        <td><%= game.home_hits %></td>
        <td><%= game.home_errors %></td>
      </tr>
    </table>
  <% end %>
</div>
<!-- Jumbotron End -->

