<!-- Navigation Bar Start -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Welcome</a></li>
        <li><a href="/roster/index">Roster</a></li>
        <li class="active dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Statistics<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Player Stats</a></li>
            <li><a href="#">Team Stats</a></li>
            <li><a href="#">Team Leaders</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Data Entry</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Direct Query</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Nagivation Bar End -->

<!-- Jumbotron Start -->
<div class="container">
  <h1>Team Leaders</h1>

  <h2>All-Time - Batting</h2>
  <h3>Hits</h3>
    <table class="table">
      <% for i in 0..4 %>
        <% if @hit_leaders[i] != nil %>
        <tr>
          <th><%= Player.find(@hit_totals.key(@hit_leaders[i])).name %></th>
          <td><%= @hit_leaders[i] %></td>
        </tr>
        <% end %>
      <% end %>
    </table>

  <h3>Batting Average</h3>
    <table class="table">
      <% for i in 0..4 %>
        <% if @avg_leaders[i] != nil %>
        <tr>
          <th><%= Player.find(@batting_avg_totals.key(@avg_leaders[i])).name %></th>
          <td><%= '%.3f' % @avg_leaders[i] %></td>
        </tr>
        <% end %>
      <% end %>
    </table>


  <h3>Runs</h3>
    <table class="table">
      <% for i in 0..4 %>
        <% if @run_leaders[i] != nil %>
        <tr>
          <th><%= Player.find(@run_totals.key(@run_leaders[i])).name %></th>
          <td><%= @run_leaders[i] %></td>
        </tr>
        <% end %>
      <% end %>
    </table>


  <h3>RBIs</h3>
    <table class="table">
      <% for i in 0..4 %>
        <% if @rbi_leaders[i] != nil %>
        <tr>
          <th><%= Player.find(@rbi_totals.key(@rbi_leaders[i])).name %></th>
          <td><%= @rbi_leaders[i] %></td>
        </tr>
        <% end %>
      <% end %>
    </table>


  <h3>Singles</h3>
    <table class="table">
      <% for i in 0..4 %>
        <% if @single_leaders[i] != nil %>
        <tr>
          <th><%= Player.find(@single_totals.key(@single_leaders[i])).name %></th>
          <td><%= @single_leaders[i] %></td>
        </tr>
        <% end %>
      <% end %>
    </table>


  <h3>Doubles</h3>
    <table class="table">
      <% for i in 0..4 %>
        <% if @double_leaders[i] != nil %>
        <tr>
          <th><%= Player.find(@double_totals.key(@double_leaders[i])).name %></th>
          <td><%= @double_leaders[i] %></td>
        </tr>
        <% end %>
      <% end %>
    </table>


  <h3>Triples</h3>
    <table class="table">
      <% for i in 0..4 %>
        <% if @triple_leaders[i] != nil %>
        <tr>
          <th><%= Player.find(@triple_totals.key(@triple_leaders[i])).name %></th>
          <td><%= @triple_leaders[i] %></td>
        </tr>
        <% end %>
      <% end %>
    </table>


  <h3>Homeruns</h3>
    <table class="table">
      <% for i in 0..4 %>
        <% if @homerun_leaders[i] != nil %>
        <tr>
          <th><%= Player.find(@homerun_totals.key(@homerun_leaders[i])).name %></th>
          <td><%= @homerun_leaders[i] %></td>
        </tr>
        <% end %>
      <% end %>
    </table>


  <h3>Stolen Bases</h3>
    <table class="table">
      <% for i in 0..4 %>
        <% if @stolen_base_leaders[i] != nil %>
        <tr>
          <th><%= Player.find(@stolen_base_totals.key(@stolen_base_leaders[i])).name %></th>
          <td><%= @stolen_base_leaders[i] %></td>
        </tr>
        <% end %>
      <% end %>
    </table>


  <h3>Strikeouts</h3>
    <table class="table">
      <% for i in 0..4 %>
        <% if @strikeout_leaders[i] != nil %>
        <tr>
          <th><%= Player.find(@strikeout_totals.key(@strikeout_leaders[i])).name %></th>
          <td><%= @strikeout_leaders[i] %></td>
        </tr>
        <% end %>
      <% end %>
    </table>



  <h2>All-Time - Pitching</h2>

  <h3>Innings Pitched</h3>
    <table class="table">
      <% for i in 0..4 %>
        <% if @inning_leaders[i] != nil %>
        <tr>
          <th><%= Player.find(@inning_totals.key(@inning_leaders[i])).name %></th>
          <td><%= @inning_leaders[i] %></td>
        </tr>
        <% end %>
      <% end %>
    </table>


  <h3>Hits Allowed</h3>
    <table class="table">
      <% for i in 0..4 %>
        <% if @hits_allowed_leaders[i] != nil %>
        <tr>
          <th><%= Player.find(@hits_allowed_totals.key(@hits_allowed_leaders[i])).name %></th>
          <td><%= @hits_allowed_leaders[i] %></td>
        </tr>
        <% end %>
      <% end %>
    </table>


  <h3>Walks Allowed</h3>
    <table class="table">
      <% for i in 0..4 %>
        <% if @walks_allowed_leaders[i] != nil %>
        <tr>
          <th><%= Player.find(@walks_allowed_totals.key(@walks_allowed_leaders[i])).name %></th>
          <td><%= @walks_allowed_leaders[i] %></td>
        </tr>
        <% end %>
      <% end %>
    </table>


  <h3>Earned Runs</h3>
    <table class="table">
      <% for i in 0..4 %>
        <% if @er_leaders[i] != nil %>
        <tr>
          <th><%= Player.find(@er_totals.key(@er_leaders[i])).name %></th>
          <td><%= @er_leaders[i] %></td>
        </tr>
        <% end %>
      <% end %>
    </table>


  <h3>Strikeouts</h3>
    <table class="table">
      <% for i in 0..4 %>
        <% if @pitching_strikeout_leaders[i] != nil %>
        <tr>
          <th><%= Player.find(@pitching_strikeout_totals.key(@pitching_strikeout_leaders[i])).name %></th>
          <td><%= @pitching_strikeout_leaders[i] %></td>
        </tr>
        <% end %>
      <% end %>
    </table>


  <h3>Wins</h3>
    <table class="table">
      <% for i in 0..4 %>
        <% if @win_leaders[i] != nil %>
        <tr>
          <th><%= Player.find(@win_total.key(@win_leaders[i])).name %></th>
          <td><%= @win_leaders[i] %></td>
        </tr>
        <% end %>
      <% end %>
    </table>


  <h3>Saves</h3>  
    <table class="table">
      <% for i in 0..4 %>
        <% if @save_leaders[i] != nil %>
        <tr>
          <th><%= Player.find(@save_total.key(@save_leaders[i])).name %></th>
          <td><%= @save_leaders[i] %></td>
        </tr>
        <% end %>
      <% end %>
    </table>


</div>
<!-- Jumbotron End -->

